body { /* Do a grid container if this doesn't work */
    display: flex;
    flex-direction: row;
}

.chat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
/*     width: calc(100% - 300px); */
    width: calc(100%);
    height: 100vh;
}

.chat {
    height: 90%;
    width: 92%;
    background-color: white;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat-box {
    height:100%;
    width: 68%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 20px #cfd8dc;
}

.chat-content {
    height: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chat-view {
    padding:.5rem;
    background: silver;
    display:flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.chat-message {
    padding-bottom:.5rem;
    
}

.chat-send-box {
    min-height: 70px;
    background-color: #fff;
/*     border: 2px solid #000; */
    border-top: 5px solid #000;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#send-input {
    height: 70%;
    width: 80%;
    border: 3px solid #000;
    
    font-size: 1.3rem;
}

.send-button {
    height: 70%;
    width: 12%;
    
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #000;
    border: 3px solid #000;
}

.send-button:hover {
    background-color: azure;
    border-color: #000;
    color: #000;
    cursor: pointer;
    
}

.user-list {
    height:100%;
    width: 30%;
    background-color: #fff;
    box-shadow: 0px 2px 20px #cfd8dc;
   
}

.user-list-view {

    overflow-y: scroll;
}

.heading {
    font-size: 2rem;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.chat-heading {
    width: 100%;
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    
    display: flex; 
    align-items: center;
    padding-left: .5rem;
}

.user-list-heading {
    width: 100%; 
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    
    display: flex; 
    align-items: center;
    padding-left: .5rem;
}

@media only screen and (max-width:1190) {
    
}


.chat-user-online {
    
}