body { /* Do a grid container if this doesn't work */
    display: flex;
    flex-direction: row;
}

.chat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fafafa; */
    /* background: linear-gradient(90deg, rgba(172,105,243,1) 0%, rgba(112,149,211,1) 29%, rgba(17,228,227,1) 64%, rgba(98,255,144,1) 97%); */
    background-color:#32b8f1;
/*     width: calc(100% - 300px); */
    width: calc(100%);
    height: 100vh;
}

.chat {
    height: 90%;
    width: 92%;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat-box {
    height:100%;
    width: 68%;
    background-color: #fff;
    /* box-shadow: 0px 2px 20px #cfd8dc; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-content {
    height: calc(100% - 2rem);
    max-height: calc(100% - 2.5rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chat-view {
    max-height: calc(100% - 2rem);
    padding:.5rem;
    background: silver;
    display:flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.chat-view>div:nth-child(even) {
    background: azure;

}

.chat-message {
    padding-bottom:.5rem;
    
}

.chat-send-box {
    min-height: 70px;
    background-color: #fff;
/*     border: 2px solid #000; */
    border-top: 5px solid #000;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#send-input {
    height: 70%;
    /* width: 80%; */
    width: 70%;
    border: 3px solid #000;
    
    font-size: 1.3rem;
}

.send-button {
    height: 70%;
    /* width: 12%; */
    width:22%;
    
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #000;
    border: 3px solid #000;
}

.send-button:hover {
    background-color: azure;
    border-color: #000;
    color: #000;
    cursor: pointer;
    
}

.user-list {
    height:100%;
    width: 30%;
    background-color: #fff;
    box-shadow: 0px 2px 20px #cfd8dc;
   
}

.user-list-view {
    height: calc(100% - 2rem);
    max-height: calc(100% - 2.5rem);
    width: 100%;
    padding: 0rem 1rem;
    padding-top: .5rem;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heading {
    font-size: 2rem;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.chat-heading {
    width: 100%;
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    
    display: flex; 
    align-items: center;
    padding-left: .5rem;
}

.user-list-heading {
    width: 100%; 
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    
    display: flex; 
    align-items: center;
    padding-left: .5rem;
}

.user-list-item { 
    height: 2.5rem;
    width:100%;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    gap: .8rem;
}

.avatar {
    height: 80%;
    font-size: .7rem;
}

.username-black {
    color: #000;
}

.username-green {
    color: #06d6a0;
}

.username-red {
    color: #d62828;
}

.username-blue {
    color: #0077b6;
}

.username-purple {
    color: #7209b7;
}

.username-pink {
    color: #f15bb5;
}


@media only screen and (max-width:850px) {
    /* #send-input {
        width: 70%;
    }
    .send-button {
        width: 22%;
        font-size: .9rem;
    } */
}


.chat-user-online {
    
}