/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap'); */

/* * {
    margin:0;
    padding:0;
} */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:azure;
    color: #000;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold; 
}

.page {
    /* display:flex; */
    /* flex-direction: column; */
}

.navbar {
    display:grid;
    grid-template-columns: 3fr 1fr;
/*     flex-direction: row; */
/*     align-items: center; */
    /* font-weight: 400; */
    /* width: 100vw; */
/*     gap:20px; */
    height: 60px;
    background-color: azure;
}

.navbar-right {
    grid-column: 2;
    display:flex;
    flex-direction: row;
    justify-content: right;
    height:60px;
}

.navbar-left {
    grid-column:1;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 60px;
}

.logo {
    font-size:30px;
    padding-left:10px;
    padding-right:10px;
}

.navtab {
    font-size: 20px;
    font-weight:bold;
    height:100%;
    width:120px;
    border-radius: 0px;
    border:none;
    background-color: azure;
}

.navtab:hover {
    border-bottom: solid;
    border-width: 5px;
    /* background-color:lightgray; */
    background-color:rgba(0,0,0,0.1);
}

.container {
    display:grid;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 700; */
    /* font-weight: bold; */
    display: grid;
    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    /* grid-template-rows:4; */
}

.hero {
    width:100%;
    height:100%;
    grid-column:1/13;
    grid-row:1/12;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: 25% 60%;
    
}

.hero::before {
    content: "";
    position: absolute;
    grid-column:1/13;
    grid-row:1/12;
    width: 100%;
    height:124%;
    /* background-color: rgba(0,0,0,0.20); */
}

.heroImage {
    width:100%;
    height:auto;
}

.heroMessage {
    position:relative;
    grid-column:2/8;
    grid-row: 3/9;
    font-weight: bold;
    font-size: 90px;
    
 

    background-color: #fff;
    /* background-image:linear-gradient(90deg, rgba(172,105,243,1) 0%, rgba(46,216,235,1) 52%, rgba(41,191,85,1) 100%); */
    /* background: linear-gradient(90deg, rgba(172,105,243,1) 0%, rgba(112,149,211,1) 44%, rgba(80,172,194,1) 71%, rgba(41,191,85,1) 96%); */
    background: linear-gradient(90deg, rgba(172,105,243,1) 0%, rgba(112,149,211,1) 29%, rgba(17,228,227,1) 64%, rgba(98,255,144,1) 97%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    /* -webkit-text-stroke: 10px transparent; */
    /* color:white; */

    /* color: white; */
}

.heroOutline{
    position:relative;
    grid-column:2/8;
    grid-row: 3/9;
    font-weight: bold;
    font-size: 90px;
    
    background-color: #fff;
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 5px transparent;
    color:white;
}

.login-box {
    position:relative;
    grid-column:8/12;
    grid-row: 3/10;

    background-color: #fff;
    filter: drop-shadow(0.3em 0.3em 0.35em rgba(0, 0, 0, 0.5));
    
    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items:center;
}

.login-header {
    display:flex;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: black;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    
    color: #fff;
}

.login-form {
    padding-top:20px;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: left;
}

.login-input {
    display:flex;
    flex-direction:column;
    justify-content: left;
    min-height:70px;
}

.input-label {
    /* justify-content: left; */
    font-size:16px;
}

.input-text {
    background-color: #fafafa;
    font-size:20px;
    padding-left:5px;
    width:100%;
    min-height: 70%;
/*     min-height: 50px; */
    /* outline: none; */
    border: 2px solid #000;
}


.input-password {
    background-color: #fafafa;
    font-size:20px;
    padding-left:5px;
    min-height:70%;
    /* outline: none; */
    border: 2px solid #000;
}

.login-footer {
    display:flex;
    flex-direction: row;
    align-items: center;
    height:100%;
    width:100%;
}

.login-button {
    width:100%;
    background-color: #000;
     border: 3px solid #000;
    min-height:100%;
    color:white;
    font-size:36px;
    font-weight:bold;
}



.login-button:hover {
    cursor: pointer;

    background-color: #fff;
    background: linear-gradient(90deg, rgba(172,105,243,1) 0%, rgba(112,149,211,1) 29%, rgba(17,228,227,1) 64%, rgba(98,255,144,1) 97%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;

    border: 3px solid;
    border-image-slice:1;
    border-width:3px;
    border-image-source: linear-gradient(90deg, rgba(172,105,243,1) 0%, rgba(112,149,211,1) 29%, rgba(17,228,227,1) 64%, rgba(98,255,144,1) 97%);
    /* background-color: #fff; */
    /* color: #000; */
    /* border: 2px solid #000; */
    /* background: linear-gradient(90deg, rgba(172,105,243,1) 0%, rgba(112,149,211,1) 29%, rgba(17,228,227,1) 64%, rgba(98,255,144,1) 97%); */


}

.login-remember {
    padding-bottom: 25px;
}

@media (max-width: 900px) {
    .login-box {
        grid-column:6/12;
        grid-row: 3/10;
    }
}

@media (min-width: 1300px) {
    .login-box {
        grid-column:9/12;
        grid-row: 3/10;
    }
}