/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    background-color: #724a4a;*/
/*    color: #000;*/
/*}*/

/*.navbar {*/
/*    display: grid;*/
/*    grid-template-columns: 3fr 1fr;*/
/*    !*     flex-direction: row; *!*/
/*    !*     align-items: center; *!*/
/*    !* font-weight: 400; *!*/
/*    !* width: 100vw; *!*/
/*    !*     gap:20px; *!*/
/*    height: 60px;*/
/*    background-color: #fff;*/
/*}*/
/*.hero {*/
/*    width:100%;*/
/*    height:100%;*/
/*    grid-column:1/13;*/
/*    grid-row:1/12;*/
/*    background-image: url("../images/hero.jpg");*/
/*    background-size: cover;*/
/*    background-position: 25% 60%;*/
/*}*/
/*.container {*/
/*     background:#FFF;*/
/*}*/

/*.container img:hover {*/
/*     opacity:0.8;*/
/*}*/