body {
    display: flex;
    flex-direction: row;
}

.settings-container {
    min-height:100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center
}

.color-form {
    background-color: #fff;
    box-shadow: 0px 2px 20px #cfd8dc;
    padding: 1rem;
    width:20rem;
    height:20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:1rem;
}

.color-form-heading {
    background-color:#000;
}

.color-form-item {
    display: flex;
    gap:.5rem;
}

.color-button {
    padding: .3rem;
    width: 60%;
}